.bg-image{
    background-image: url("/images/200522_Header_Lakolk_Panorama7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgb(146, 191, 230);
}

.navigation .menu li a{
    color: wheat;
    mix-blend-mode: screen;
}